body {
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at 2px 2px,
    white 2px,
    transparent 0
  );
  background-size: 30px 30px;
}

.main {
  position: absolute;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.content-box {
  font-family: "Noto Sans Mono", monospace;
  color: white;
  position: relative;
  background-color: black;
  border: 1px white solid;
  z-index: 10;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  /* clip-path: polygon(0 0, 95% 0%, 100% 25%, 100% 100%, 50% 100%, 25% 100%, 10% 100%, 0% 85%); */
  flex-direction: column;
}

.nav-box {
  font-family: "Noto Sans Mono", monospace;
  color: white;
  position: relative;
  background-color: black;
  border: 1px white solid;
  z-index: 10;
  display: flex;
  justify-content: center;
  /* clip-path: polygon(0 0, 95% 0%, 100% 25%, 100% 100%, 50% 100%, 25% 100%, 10% 100%, 0% 85%); */
}

.divider {
  height: 5px;
  border-bottom: 1px dotted;
}

.content {
  font-family: "Noto Sans Mono", monospace;
  color: white;
  position: relative;
  width: 95%;
  height: 80%;
  background-color: black;
  border: 1px white solid;
  z-index: 10;
  align-self: center;
  overflow: auto;
}

.content-title {
  font-family: "Noto Sans Mono", monospace;
  font-size: 25px;
  border-bottom: 1px dotted;
}


.content-body {
  margin: 25px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #ff582a;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff582a;
  color: black;
}

.thumbnail {
  width: 25%;
  height: 25%;
  border: dotted 3px white;
}


.scroller {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  animation: loop 30s linear infinite;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}
.loader:before {
  content: "Loading...\AgodnLai...\Aoiaglni...\ALiongad...\Agindola...\Analoidg...";
  white-space: pre;
  display: inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .main {
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}
