<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div class="main" id="main">
      <div class="nav-box">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="https://github.com/ClarkStraws">Github</a></li>
          <li>
            <a href="https://www.linkedin.com/in/henry-haner-873040299/"
              >LinkedIn</a
            >
          </li>
          <li><a href="https://latentarcana.com/">Latent Arcana</a></li>
        </ul>
      </div>
      <div class="content-box">
        <div class="content">
          <div class="content-title">>>>{{page.title}}</div>
          <div class="content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </body>
</html>
